.red-square {
  background-color: red;
}

.black-square {
  background-color: black
}

.square {
  margin: 1px;
  grid-column: var(--column);
  grid-row: var(--row);
}

.potential {
  /*
    Re-add this when highlighting figured out 
    background-color: yellow !important; 
  */
}